<div class="row">
  <div class="col l4 m4 s12 center">
    <a class="btn btn-large waves-effect waves-light" href="#" routerLink="/salary">
      <i class="material-icons right">send</i>
      Salary
    </a>
  </div>
  <div class="col l4 m4 s12 center">
    <a class="btn btn-large waves-effect waves-light" href="#" routerLink="/absen">
      <i class="material-icons">account_circle</i>
      Absens
    </a>
  </div>
  <div class="col l4 m4 s12 center">
    <a class="btn btn-large waves-effect waves-light" href="#" routerLink="/leaves">
      <i class="material-icons">account_circle</i>
      Leaves
    </a>
  </div>
</div>
<div class="row">
  <div class="col l4 m4 s12 center">
    <a class="btn btn-large waves-effect waves-light" href="#" routerLink="/performance">
      <i class="material-icons right">send</i>
      Performance
    </a>
  </div>
  <div class="col l4 m4 s12 center">
    <a class="btn btn-large waves-effect waves-light" href="#" routerLink="/health">
      <i class="material-icons">account_circle</i>
      Healt
    </a>
  </div>
  <div class="col l4 m4 s12 center">
    <a class="btn btn-large waves-effect waves-light" href="#" routerLink="/training">
      <i class="material-icons">account_circle</i>
      Training
    </a>
  </div>
</div>
<div class="row">
  <div class="col l4 m4 s12 center">
    <a class="btn btn-large waves-effect waves-light" href="#" routerLink="/info">
      <i class="material-icons right">send</i>
      Info
    </a>
  </div>
  <div class="col l4 m4 s12 center">

  </div>
  <div class="col l4 m4 s12 center">

  </div>
</div>
